<font color="#8857af">ПЕРЕВОД НА РУССКИЙ ЯЗЫК</font>
What If?

<font color="#8857af">ПЕРЕВОД ТЕКСТОВ</font>
Асет Бейсембаев
Арсений Бустлеев
Денис Долгоруков
Андрей Калязин
Глеб Козлов
Павел Парусов
Радон Резерфордьев
Михаил Решетников
Иван Степанов
Даниил Татаринов
Дмитрий Яковлев

<font color="#8857af">ТЕХНИЧЕСКИЕ РЕДАКТОРЫ</font>
Арсений Бустлеев
Глеб Рябчиков
Александр Стоянов
Даниил Татаринов
Роман Шулунов

<font color="#8857af">ГРАФИКА</font>
Кирилл Алексеев-Котов

<font color="#8857af">ПЕСНЯ НА ТИТРАХ</font>
Текст – Даниил Татаринов, Дмитрий Яковлев
Вокал – Михаил Наумов
Сведение и мастеринг – Сергей Фёдоров

<font color="#8857af">ВЕДУЩИЙ</font>
Андрей Быстрицкий

<font color="#8857af">ДОП. ОЗВУЧКА</font>
Илья Автономов
Кирилл Алексеев
Даниил Анишин
Андрей Багров
Станислав Багров
Асет Бейсембаев
Иннокентий Беляев
Рамиль Гайнуллин
Артём Дюков
Максим Извеков
Денис Касьянов
Виталий Кашеваров
Глеб Козлов
Александра Котова
Фёдор Кусков
Елена Лунина
Максим Малярсон
Константин Медведев
Рута Новикова
Эрик Салахов
Иван Солонинкин
Илья Тарасов
Дмитрий Толкачёв
Роман Транцев
Роман Шулунов

<font color="#8857af">СВЕДЕНИЕ И МАСТЕРИНГ ДОП. ОЗВУЧКИ</font>
Дмитрий Яковлев

<font color="#8857af">ПЕРЕВОД ОЗВУЧКИ</font>
Арсений Бустлеев
Даниил Татаринов


<font color="#8857af">ORIGNAL QUIPLASH 3 TEAM</font>

JACKBOX GAMES

<font color="#8857af">DIRECTOR</font>
Warren Arnold

<font color="#8857af">PRODUCER</font>
Luke Cody

<font color="#8857af">LEAD EDITORIAL</font>
Tom Gottlieb

<font color="#8857af">LEAD GAMEPLAY ENGINEER</font>
Pascal Pochol

<font color="#8857af">ART DIRECTOR</font>
David Innis

<font color="#8857af">LEAD ARTIST</font>
Kyle Fleischer

<font color="#8857af">AUDIO LEAD</font>
Andy Poland

<font color="#8857af">LEAD JACKBOX.TV ENGINEER</font>
Lena Guerrero

<font color="#8857af">QA LEAD</font>
Steve Pakal

<font color="#8857af">HOST</font>
Phil Ridarelli as Josh “Schmitty” Schmittstinstein

<font color="#8857af">WRITERS</font>
Liz Anderson
Alex Blechman
Brooke Breit
Brian Chard
Spencer Ham
Claire McFadden
CJ Tuor

<font color="#8857af">ASSISTANT EDITOR</font>
Clara Hanford

<font color="#8857af">LEAD INFRASTRUCTURE ENGINEER</font>
Jordan Orelli

<font color="#8857af">INFRASTRUCTURE ENGINEERS</font>
Dan Fallon
Lena Guerrero
Chase McClure
Ryan McGill
Alex Swan

<font color="#8857af">ADDITIONAL ART</font>
Steff Egan
Nolan J. Downs

<font color="#8857af">ADDITIONAL SOUND DESIGN</font>
Avery Makel
Brendan Monte

<font color="#8857af">ADDITIONAL GAMEPLAY ENGINEERING</font>
Ben Jacobs
Mike Zuba
Michael Siciliano
Farhan Noormohammed
Isaac Sweet

<font color="#8857af">CREDITS SONG</font>
Andy Poland - Music & Lyrics
Eric Kennedy - Vocals
erickennedy.net

<font color="#8857af">QA MANAGER</font>
Steve Pakal

<font color="#8857af">QA</font>
Allison Flom
Kevin Vekony
Alex Lueck
Bennett Hofer
Dutch Freese
Jack Guffey

<font color="#8857af">CULTURAL CONSULTANTS</font>
James Mendez Hodes
Dominique Dickey

<font color="#8857af">PROOFREADER</font>
Elaine Friedberg

<font color="#8857af">USER RESEARCH</font>
Allison Flom
Kevin Vekony

<font color="#8857af">SUBMISSION</font>
Luke Cody - Manager
Laura La Vito
Alex Weick

<font color="#8857af">CEO</font>
Mike Bilder

<font color="#8857af">CCO</font>
Allard Laban

<font color="#8857af">CTO</font>
Evan Jacover

<font color="#8857af">VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color="#8857af">DIRECTOR OF PRODUCTION</font>
Mike Zuba

<font color="#8857af">STUDIO ART DIRECTOR</font>
David Innis

<font color="#8857af">STUDIO EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color="#8857af">MARKETING DIRECTOR</font>
Brooke Hofer

<font color="#8857af">MARKETING MANAGER</font>
Belia Portillo

<font color="#8857af">HR & OFFICE MANAGER</font>
Rob Alletto

<font color="#8857af">LEGAL COUNSEL</font>
Kurt Hirsch

<font color="#8857af">CONTROLLER</font>
Anna Wodynski

<font color="#8857af">SPECIAL THANKS</font>
Adam Charney
Ryan DiGiorgi
Tim Sniffen
Greg Gretsch
Hector M Padilla
Bruno Rodríguez
Mark Turowetz
Owen Watson
Steve Heinrich
Melissa Stone
Shari Hirsch
Chelsea Rounsley
Zeke Polken
Calder Laban

<font color="#8857af">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb


<font color="#8857af">THE JACKBOX PARTY STARTER TEAM</font>

JACKBOX GAMES

<font color="#8857af">DIRECTOR</font>
Andy Kniaz

<font color="#8857af">PRODUCER</font>
Lindsey Leder

<font color="#8857af">PRINCIPAL ENGINEER</font>
Pascal Pochol

<font color="#8857af">GAMEPLAY ENGINEER</font>
Isaac Sweet

<font color="#8857af">LEAD JACKBOX.TV ENGINEER</font>
Ryan McGill

<font color="#8857af">JACKBOX.TV ENGINEER</font>
Eris Price

<font color="#8857af">TECHNICAL ARTIST</font>
Charlie Bickett

<font color="#8857af">ART</font>
Allard Laban
Dave Innis
Lev Cantoral
Owen Watson

<font color="#8857af">AUDIO</font>
Andy Poland
Avery Makel
Brian Chard
Jacob Shuda

<font color="#8857af">SOFTWARE ENGINEERING</font>
April Dizon
Ben Jacobs
Farhan Noormohammed
Michael Siciliano
Rob Swor

<font color="#8857af">SUBMISSION</font>
Luke Cody - Manager
Alex Weick
Laura La Vito
Lindsey Leder

<font color="#8857af">QA MANAGER</font>
Steve Pakal

<font color="#8857af">SENIOR QA ANALYST</font>
Allison Flom

<font color="#8857af">QA</font>
Alex Lueck
Bryce Broadrick
Jayden Zvonar
Louis Hayes
Sarah Jo Townsley
Dutch Freese

<font color="#8857af">INTERNATIONAL & PARTNERSHIPS LEAD</font>
Belia Portillo

<font color="#8857af">MARKETING</font>
Clara Hanford
Michelle Leatherby
Luca Barranco

<font color="#8857af">CEO</font>
Mike Bilder

<font color="#8857af">CCO</font>
Allard Laban

<font color="#8857af">CTO</font>
Evan Jacover

<font color="#8857af">VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color="#8857af">VP OF PRODUCTION</font>
Mike Zuba

<font color="#8857af">VP OF MARKETING</font>
Brooke Hofer

<font color="#8857af">VP OF INTERNATIONAL</font>
Andy Kniaz

<font color="#8857af">STUDIO ART DIRECTOR</font>
David Innis

<font color="#8857af">STUDIO EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color="#8857af">HR & OFFICE MANAGER</font>
Rob Alletto

<font color="#8857af">DIRECTOR OF PEOPLE</font>
Jennifer Philbrook

<font color="#8857af">GENERAL COUNSEL</font>
Kurt Hirsch

<font color="#8857af">CONTROLLER</font>
Anna Wodynski

<font color="#8857af">SPECIAL THANKS</font>
Liz Anderson
Warren Arnold
Brooke Breit
Rammel Chan
Patrick deBardelaben
Ryan DiGiorgi
Steff Egan
Dennis Estrada
Kyle Fleischer
Tom Gottlieb
Lena Guerrero
Spencer Ham
Anne Kirn
Chase McClure
Katie Moulton
Paris Newton
Hector Padilla
Bruno Rodríguez
Seth Rubin
Nate Sandberg
Hero See
Tim Sniffen
Alex Swan
C.J. Tuor
Mark Turowetz
Brad Vah
Elise Wattman

<font color="#8857af">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb


<font color="#8857af">A
CODA ENTERTAINMENT & TONEWORX
CO-PRODUCTION</font>

<font color="#8857af">CREATIVE DIRECTORS</font>
Johannes Deny
Hans Schneck

<font color="#8857af">PRODUCER</font>
Georg Hach



GERMAN

<font color="#8857af">LEAD WRITER & TRANSLATOR</font>
Andreas Mahler

<font color="#8857af">WRITING & TRANSLATION</font>
Laura Biundo
Anne Hölscher

<font color="#8857af">RECORDING MANAGER</font>
Waldemar Husser


Recorded at toneworx studios, Hamburg

<font color="#8857af">VOICE DIRECTOR</font>
Georg Hach

<font color="#8857af">AUDIO ENGINEERING LEAD TJSP</font>
Eyke Hoffmann

<font color="#8857af">AUDIO ENGINEERS</font>
Robin Beckmann
Eyke Hoffmann
Philipp Hofmann
Dario Leps
Kai Schmitz


<font color="#8857af">SCHMITTY VOICED BY</font>
Jens Wendland

<font color="#8857af">CREDITS SONG PERFORMED BY</font>
Daniel Welbat

<font color="#8857af">GERMAN LYRICS</font>
Johannes Deny


FRENCH

RECORDED AT HIFI GENIE, PARIS

<font color="#8857af">PROJECT LEAD RECORDING</font>
Gregory Gaby, Hifi Genie

<font color="#8857af">AUDIO ENGINEERS</font>
Timothée Halleumieux
Léane Chabert
Baptiste Etienne


<font color="#8857af">WRITING & TRANSLATION</font>
EVOCATI

<font color="#8857af">ADDITIONAL WRITING, TRANSLATION & EDITING</font>
Madeleine Jaoul

<font color="#8857af">SCHMITTY VOICED BY</font>
Bruno Magne

<font color="#8857af">CREDITS SONG PERFORMED BY</font>
Bruno Magne

<font color="#8857af">FRENCH LYRICS</font>
Madeleine Jaoul


ITALIAN

<font color="#8857af">WRITING & TRANSLATION</font>
Alessandra Paganelli
Fabio Tursi
Francesca Pezzoli
Gaia Talamini
Marilinda Malaspina
Riccardo Lausdei

<font color="#8857af">PRODUCER</font>
Stefano Birarda


RECORDED AT JINGLEBELL STUDIOS, MILAN

<font color="#8857af">AUDIO ENGINEERING LEAD TJSP</font>
Federica Vairani

<font color="#8857af">AUDIO ENGINEERS</font>
Filippo Falco
Giorgio Savoia
Luca Cozzi

<font color="#8857af">AUDIO DIRECTION</font>
Alessandro Morino
Stefano Lucchelli

<font color="#8857af">QUIPLASH HOST VOICED BY</font>
Edoardo Lomazzi

<font color="#8857af">CREDITS SONG PERFORMED BY</font>
Davide Dell'Orto

<font color="#8857af">ITALIAN LYRICS</font>
Fabio Tursi


CASTILLIAN SPANISH

<font color="#8857af">WRITING & TRANSLATION</font>
Carlos Lacasa
Elena Mayoral Martínez
Laura Feijóo Sánchez
Mand Fond Kwan Fernández
Manuel Mata Álvarez-Santullano
Teresa Jarrín Rodríguez
Vanessa Meseguer

<font color="#8857af">TRANSLATION COORDINATOR</font>
Daniel Rubio Canal

<font color="#8857af">PROJECT MANAGEMENT</font>
Vanesa Potenzoni
Nicolas Vigot

<font color="#8857af">STUDIO ES MANAGEMENT</font>
Ángel González


RECORDED AT PINKNOISE STUDIOS MADRID

<font color="#8857af">AUDIO ENGINEERING LEAD</font>
Marco Romero

<font color="#8857af">AUDIO ENGINEERS</font>
Lorena Cervera
Omar González

<font color="#8857af">ARTISTIC DIRECTION</font>
Fernando Elegido
Miguel Ángel Antelo

<font color="#8857af">SCHMITTY VOICED BY</font>
Ricardo Escobar Subirats

<font color="#8857af">CREDITS SONG PERFORMED BY</font>
Samuel Gómez Martínez

<font color="#8857af">CASTILLIAN SPANISH LYRICS</font>
Manuel Mata Álvarez-Santullano


LATIN AMERICAN SPANISH

<font color="#8857af">WRITING & TRANSLATION</font>
Belén Avetta
Erika Azenet Mancillas
Fabián Castillo Bocanegra
Ian Gonzalez
Lara Cecilia Garau
Mariano Saab
Micaela Joana Geslin
Paula Margarita Sifredi
Paula Sofía Castillón

<font color="#8857af">TRANSLATION COORDINATOR</font>
Daniel Rubio Canal


<font color="#8857af">PROJECT MANAGEMENT</font>
Vanesa Potenzoni
Nicolas Vigot

<font color="#8857af">STUDIO MX MANAGEMENT</font>
Alejandro Lizardi
Jonathan Estrada

RECORDED AT PINKNOISE STUDIOS MEXICO CITY

<font color="#8857af">AUDIO ENGINEERING LEAD</font>
Marco Romero

<font color="#8857af">AUDIO ENGINEERS</font>
Dario Ramirez
Tony Romero

<font color="#8857af">ARTISTIC DIRECTION</font>
Ricardo Loera
Alan Fernando
Alexei


<font color="#8857af">SCHMITTY VOICED BY</font>
Ricardo Loera

<font color="#8857af">CREDITS SONG PERFORMED BY</font>
Rick Loera

<font color="#8857af">LATAM SPANISH LYRICS</font>
Erika Azenet Mancillas