<font color='#ff7d00'>ПЕРЕВОД НА РУССКИЙ ЯЗЫК</font>
What If?

<font color='#ff7d00'>ПЕРЕВОД ВОПРОСОВ 
И МИНИ-ИГР</font>
Асет Бейсембаев
Арсений Бустлеев
Андрей Быстрицкий
Андрей Калязин
Денис Касьянов
Глеб Козлов
Павел Парусов
Глеб Рябчиков
Александр Стоянов
Илья Яресько

<font color='#ff7d00'>ТЕХНИЧЕСКИЕ РЕДАКТОРЫ</font>
Арсений Бустлеев
Глеб Рябчиков
Александр Стоянов
Даниил Татаринов
Роман Шулунов

<font color='#ff7d00'>ВИДЕОМОНТАЖ</font>
Кирилл Алексеев-Котов
Денис Касьянов

<font color='#ff7d00'>ВЕДУЩИЙ</font>
Денис Касьянов

<font color='#ff7d00'>ОЗВУЧКА РОЛЕЙ</font>
Асет Бейсембаев в роли копа
Андрей Быстрицкий в роли Шмитти
Сергей Зебурунов в роли детектива
Мария Черненко в роли цыганки
Дмитрий Яковлев в роли доктора

<font color='#ff7d00'>ДОПОЛНИТЕЛЬНАЯ ОЗВУЧКА</font>
Лейла Аббасова
Асет Бейсембаев
Никита Вохмянин
Кирилл Павлов
Александр Шишлов

<font color='#ff7d00'>ПЕСНЯ НА ТИТРАХ</font>
Текст – Сергей Зебурунов, Константин Медведев, Илья Яресько
Аранжировка – Андрей Подгорнов
Вокал – Сергей Арутюнов
Сведение и мастеринг – Саша Манарага

<font color='#ff7d00'>ПЕСНЯ "ВМЕСТЕ С ОТЦОМ"</font>
Текст – Илья Яресько
Аранжировка, вокал, сведение – Александр Половцев

<font color='#ff7d00'>ПЕРЕВОД ОЗВУЧКИ</font>
Асет Бейсембаев
Арсений Бустлеев
Андрей Калязин
Денис Касьянов
Глеб Козлов
Илья Яресько

<font color='#ff7d00'>АВТОРЫ ДОПОЛНИТЕЛЬНЫХ ВОПРОСОВ</font>
Михаил Андросов
Станислав Антошкин
Святослав Аристов-Алтунин
Матвей Беляев
Олег Васильев
Никита Гиль
Амирлан Гильманов
Илья Гусев
Максим "Mr. Maximus" Дороган
Максим Жернаков
Алексей Зеленов
Максим Кобин
Антон Козбан
Артём Козма
Алексей Кокин
Илья Колос
Иван Кустов
Дмитрий Ларин
Ильяс Лескиненко
Даниил Лотков
Максим "Toad_Howard" Макеев
Константин Медведев
Михаил "Makalors" Молоков
Богдан Павлюх
Денис Панихин
Анна "Anita Vitec" Пашина
Игорь Петушков
Герман Пилипенко
Илья Поляков
Светлана Понкратова
Владислав Попков
Михаил Равко
Анастасия Сазонова
Данила Самойлов
Ярослав Светлов
Елизавета Соловьёва
Данил Стадник
Илья Старовойтов
Никита Суриков
Роман Хайпор
Александр Чекоданов
Никита Чипликов
Артём Чуркин
Вова Чхаидзе
Ника Чхаидзе
Дмитрий Шалеев
Георгий Шепель
Роман Шестаков
Денис Шпота
Ринат "Rain Boy" Янгуразов
Рефишер
Скотчиан Изолентис
Фубуки
Eurofan
MinerLalka
Mr X
Sam Crafting 


