<font color="#00d5ff">ПЕРЕВОД НА РУССКИЙ ЯЗЫК</font>
What If?

<font color="#00d5ff">ПЕРЕВОД ТЕКСТОВ</font>
Асет Бейсембаев
Влад Гусейнов
Денис Касьянов
Павел Парусов
Глеб Рябчиков
Александр Толстов
Илья Яресько

<font color="#00d5ff">ТЕХНИЧЕСКИЕ РЕДАКТОРЫ</font>
Арсений Бустлеев
Влад Каренко
Глеб Рябчиков
Александр Стоянов
Даниил Татаринов
Роман Шулунов

<font color="#00d5ff">ВЕДУЩИЙ</font>
Влад Каренко

<font color="#00d5ff">ЗВУК</font>
Дмитрий Яковлев


<font color="#00d5ff">JACKBOX GAMES</font>

<font color="#00d5ff">DIRECTOR</font>
Ryan DiGiorgi

<font color="#00d5ff">LEAD ENGINEER</font>
Mike Zuba

<font color="#00d5ff">DESIGN</font>
Brian Chard
Ryan DiGiorgi
Alain Helmers
Allard Laban
Arnie Niekamp
Alex Swan
Mike Zuba

<font color="#00d5ff">ART DIRECTOR</font>
Allard Laban

<font color="#00d5ff">LEAD ART</font>
Alain Helmers

<font color="#00d5ff">MORE ART</font>
Dave Innis
Allard Laban
Hector M Padilla
Owen Watson

<font color="#00d5ff">MUSIC & AUDIO DIRECTOR</font>
Brian Chard

<font color="#00d5ff">AUDIO ASSISTANT</font>
Tom Barrett

<font color="#00d5ff">HOST</font>
Shawn Bowers as The Tournament Master

<font color="#00d5ff">ADDITIONAL VOICES</font>
Brian Chard
Tamara Chard
Ilana Gordon
Hector M Padilla

<font color="#00d5ff">WRITERS</font>
Warren Arnold
Ryan DiGiorgi
Spencer Ham

<font color="#00d5ff">PROJECT MANAGER</font>
Luke Cody

<font color="#00d5ff">QA LEAD</font>
Steve "wat" Pakal

<font color="#00d5ff">QA</font>
TreJon House
Jason Hrynko
Jacob Mooney
Em K Reishus
Kevin Vekony

<font color="#00d5ff">SOFTWARE ENGINEERS</font>
Ben Jacobs
Evan Jacover
Pascal Pochol
Alex Swan

<font color="#00d5ff">SOFTWARE ENGINEERING INTERN</font>
Duncan Holter

<font color="#00d5ff">GAME NAMER</font>
Dave Innis

<font color="#00d5ff">CONTROLLER</font>
Anna Wodynski

<font color="#00d5ff">KEEPING JACKBOX GAMES RUNNING</font>
Rob Alletto

<font color="#00d5ff">LEGAL COUNSEL</font>
Kurt Hirsch

<font color="#00d5ff">CEO</font>
Mike Bilder

<font color="#00d5ff">VP OF CREATIVE</font>
Allard Laban

<font color="#00d5ff">VP OF ENGINEERING</font>
Evan Jacover

<font color="#00d5ff">SPECIAL THANKS</font>
Greg Gretsch
Steve Heinrich
Andy Poland
Mark Turowetz

<font color="#00d5ff">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb


<font color="#00d5ff">THE JACKBOX PARTY STARTER TEAM</font>

JACKBOX GAMES

<font color="#00d5ff">DIRECTOR</font>
Andy Kniaz

<font color="#00d5ff">PRODUCER</font>
Lindsey Leder

<font color="#00d5ff">PRINCIPAL ENGINEER</font>
Pascal Pochol

<font color="#00d5ff">GAMEPLAY ENGINEER</font>
Isaac Sweet

<font color="#00d5ff">LEAD JACKBOX.TV ENGINEER</font>
Ryan McGill

<font color="#00d5ff">JACKBOX.TV ENGINEER</font>
Eris Price

<font color="#00d5ff">TECHNICAL ARTIST</font>
Charlie Bickett

<font color="#00d5ff">ART</font>
Allard Laban
Dave Innis
Lev Cantoral
Owen Watson

<font color="#00d5ff">AUDIO</font>
Andy Poland
Avery Makel
Brian Chard
Jacob Shuda

<font color="#00d5ff">SOFTWARE ENGINEERING</font>
April Dizon
Ben Jacobs
Farhan Noormohammed
Michael Siciliano
Rob Swor

<font color="#00d5ff">SUBMISSION</font>
Luke Cody - Manager
Alex Weick
Laura La Vito
Lindsey Leder

<font color="#00d5ff">QA MANAGER</font>
Steve Pakal

<font color="#00d5ff">SENIOR QA ANALYST</font>
Allison Flom

<font color="#00d5ff">QA</font>
Alex Lueck
Bryce Broadrick
Jayden Zvonar
Louis Hayes
Sarah Jo Townsley
Dutch Freese

<font color="#00d5ff">INTERNATIONAL & PARTNERSHIPS LEAD</font>
Belia Portillo

<font color="#00d5ff">MARKETING</font>
Clara Hanford
Michelle Leatherby
Luca Barranco

<font color="#00d5ff">CEO</font>
Mike Bilder

<font color="#00d5ff">CCO</font>
Allard Laban

<font color="#00d5ff">CTO</font>
Evan Jacover

<font color="#00d5ff">VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color="#00d5ff">VP OF PRODUCTION</font>
Mike Zuba

<font color="#00d5ff">VP OF MARKETING</font>
Brooke Hofer

<font color="#00d5ff">VP OF INTERNATIONAL</font>
Andy Kniaz

<font color="#00d5ff">STUDIO ART DIRECTOR</font>
David Innis

<font color="#00d5ff">STUDIO EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color="#00d5ff">HR & OFFICE MANAGER</font>
Rob Alletto

<font color="#00d5ff">DIRECTOR OF PEOPLE</font>
Jennifer Philbrook

<font color="#00d5ff">GENERAL COUNSEL</font>
Kurt Hirsch

<font color="#00d5ff">CONTROLLER</font>
Anna Wodynski

<font color="#00d5ff">SPECIAL THANKS</font>
Liz Anderson
Warren Arnold
Brooke Breit
Rammel Chan
Patrick deBardelaben
Ryan DiGiorgi
Steff Egan
Dennis Estrada
Kyle Fleischer
Tom Gottlieb
Lena Guerrero
Spencer Ham
Anne Kirn
Chase McClure
Katie Moulton
Paris Newton
Hector Padilla
Bruno Rodríguez
Seth Rubin
Nate Sandberg
Hero See
Tim Sniffen
Alex Swan
C.J. Tuor
Mark Turowetz
Brad Vah
Elise Wattman

<font color="#00d5ff">FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb


<font color="#00d5ff">A
CODA ENTERTAINMENT & TONEWORX
CO-PRODUCTION</font>

<font color="#00d5ff">CREATIVE DIRECTORS</font>
Johannes Deny
Hans Schneck

<font color="#00d5ff">PRODUCER</font>
Georg Hach



GERMAN

<font color="#00d5ff">LEAD WRITER & TRANSLATOR</font>
Andreas Mahler

<font color="#00d5ff">WRITING & TRANSLATION</font>
Laura Biundo
Anne Hölscher

<font color="#00d5ff">RECORDING MANAGER</font>
Waldemar Husser


Recorded at toneworx studios, Hamburg

<font color="#00d5ff">VOICE DIRECTOR</font>
Georg Hach

<font color="#00d5ff">AUDIO ENGINEERING LEAD TJSP</font>
Eyke Hoffmann

<font color="#00d5ff">AUDIO ENGINEERS</font>
Robin Beckmann
Eyke Hoffmann
Philipp Hofmann
Dario Leps
Kai Schmitz


<font color="#00d5ff">TOURNAMENT HOST VOICED BY</font>
Tetje Mierendorf


FRENCH

RECORDED AT HIFI GENIE, PARIS

<font color="#00d5ff">PROJECT LEAD RECORDING</font>
Gregory Gaby, Hifi Genie

<font color="#00d5ff">AUDIO ENGINEERS</font>
Timothée Halleumieux
Léane Chabert
Baptiste Etienne


<font color="#00d5ff">WRITING & TRANSLATION</font>
Claude P. Esmein

<font color="#00d5ff">TOURNAMENT HOST VOICED BY</font>
Fredéric Popovic


ITALIAN

<font color="#00d5ff">WRITING & TRANSLATION</font>
Alessandra Paganelli
Fabio Tursi
Francesca Pezzoli
Gaia Talamini
Marilinda Malaspina
Riccardo Lausdei

<font color="#00d5ff">PRODUCER</font>
Stefano Birarda


RECORDED AT JINGLEBELL STUDIOS, MILAN

<font color="#00d5ff">AUDIO ENGINEERING LEAD TJSP</font>
Federica Vairani

<font color="#00d5ff">AUDIO ENGINEERS</font>
Filippo Falco
Giorgio Savoia
Luca Cozzi

<font color="#00d5ff">AUDIO DIRECTION</font>
Alessandro Morino
Stefano Lucchelli

<font color="#00d5ff">TOURNAMENT HOST VOICED BY</font>
Pietro Ubaldi


CASTILLIAN SPANISH

<font color="#00d5ff">WRITING & TRANSLATION</font>
Carlos Lacasa
Elena Mayoral Martínez
Laura Feijóo Sánchez
Mand Fond Kwan Fernández
Manuel Mata Álvarez-Santullano
Teresa Jarrín Rodríguez
Vanessa Meseguer

<font color="#00d5ff">TRANSLATION COORDINATOR</font>
Daniel Rubio Canal

<font color="#00d5ff">PROJECT MANAGEMENT</font>
Vanesa Potenzoni
Nicolas Vigot

<font color="#00d5ff">STUDIO ES MANAGEMENT</font>
Ángel González


RECORDED AT PINKNOISE STUDIOS MADRID

<font color="#00d5ff">AUDIO ENGINEERING LEAD</font>
Marco Romero

<font color="#00d5ff">AUDIO ENGINEERS</font>
Lorena Cervera
Omar González

<font color="#00d5ff">ARTISTIC DIRECTION</font>
Fernando Elegido
Miguel Ángel Antelo

<font color="#00d5ff">TOURNAMENT HOST VOICED BY</font>
Fernando Cabrera García


LATIN AMERICAN SPANISH

<font color="#00d5ff">WRITING & TRANSLATION</font>
Belén Avetta
Erika Azenet Mancillas
Fabián Castillo Bocanegra
Ian Gonzalez
Lara Cecilia Garau
Mariano Saab
Micaela Joana Geslin
Paula Margarita Sifredi
Paula Sofía Castillón

<font color="#00d5ff">TRANSLATION COORDINATOR</font>
Daniel Rubio Canal


<font color="#00d5ff">PROJECT MANAGEMENT</font>
Vanesa Potenzoni
Nicolas Vigot

<font color="#00d5ff">STUDIO MX MANAGEMENT</font>
Alejandro Lizardi
Jonathan Estrada

RECORDED AT PINKNOISE STUDIOS MEXICO CITY

<font color="#00d5ff">AUDIO ENGINEERING LEAD</font>
Marco Romero

<font color="#00d5ff">AUDIO ENGINEERS</font>
Dario Ramirez
Tony Romero

<font color="#00d5ff">ARTISTIC DIRECTION</font>
Ricardo Loera
Alan Fernando
Alexei


<font color="#00d5ff">TOURNAMENT HOST VOICED BY</font>
Jorge Roig Jr
